.create-account-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    font-family: monospace;
    font-weight: 700;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

.create-account {
    background-image: url('../../images/account-form.jpg');
    background-size: cover;
    width: 700px;
    max-width: 80%;
    max-height: 60%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) ;
    border-radius: 3px;
    padding: 10px 30px;
    margin: auto;
    margin-top: 10em;
}

#account-first-name, #account-last-name, #dob, #account-phone, #gender, #account-address, #account-email, #account-password {
    width: 100%;
    border-radius: 2px;
    border: 1px solid royalblue;
}

#account-submit {
    border-radius: 3px;
    border: 2px solid red;
    color: red;
    background-color: white;
}

#account-submit:hover {
    border: 2px solid green;
    color: green;
}

#account-cross {
    float: right;
    margin-right: -2em;
    margin-top: -0.8em;
}

@media (max-height: 640px) {
    .create-account {
        overflow: auto;
    }
}

@media (max-height: 420px) {
    .create-account {
        margin-top: 5em;
        overflow: auto;
    }
}

@media (max-width: 820px) {
    .create-account {
        overflow: auto
    }
}