#login-div {
    width: 30%;
    height: 40%;
    font-size: 1.2rem;
    border-radius: 3px;
    padding-bottom: 3em;
    background-image: linear-gradient(to bottom right, #22A7F0, #19B5FE);
    z-index: 10;
    box-shadow: 10px 10px 25px;
    cursor: pointer;
    position: fixed;
    top: 25%;
    left: 34%;
    overflow: auto;
}

#login-form {
    font-family: monospace;
    font-size: 1.1em;
}

#forgot {
    font-size: 0.8em;
    text-decoration: none;
    color: white;
}

#forgot:hover {
    color: red;
}

#login-details {
    border: 1px solid red;
    border-radius: 3px;
    color: red;
    background-color: white;
}

#login-details:hover {
    border: 1px solid green;
    color: green;
}

#username {
    width: 80%;
    height: 80%;
    border: 1px solid royalblue;
    border-radius: 2px;
}

#password {
    width: 80%;
    height: 80%;
    border: 1px solid royalblue;
    border-radius: 2px;
}

#cross {
    float: right;
    margin-right: -1em;
}